body{
    font-family: 'Lora', serif;
}

body, html{
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

.sinParallax {
    /* The image used */
    background-image: url('Agave.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-window{
      /* La libreria JS */
    min-height: 700px;
    background: transparent;
  }

.nav-link{
    color: black !important;
    font-size: 1.5em;
    
    transition: color .5s, letter-spacing .5s;

    letter-spacing: 0px;
}

.nav-link:hover, .active{
    color: royalblue !important;

    transition: color .5s, letter-spacing .5s;

    letter-spacing: 1.5px;
}


.navbar-expand-sm, .navbar-expand-md{
    border-bottom: 3px solid royalblue;
}

nav.navbar, .navbar-light, .navbar-expand-md, .bg-light{
    background-color: white !important;
}

.textoEnImagen{
    /* text-align: center;  */
    padding-left: 1em;
    margin: auto;
    font-family: Merriweather; 
    font-size: 6em; 
    font-weight: bold;
    color: white; 
    font-style: italic;
    letter-spacing: .04em;
    text-shadow: .05em .05em royalblue;
    padding-top: 2em;
}

#EsloganTexto{
    padding-top: 1em; 
    font-size: 2em; 
    font-style: normal;
    padding-left: 3em;
    letter-spacing: normal;
}


.carousel-inner img{
    width: 100%;
    height: 100%;
}

.textoPlanta{
    color: white;
    background-color: black;
    font-family: "Roboto Condensed";

    padding: 2em;
}

/* Media Queries */
@media (max-width: 600px){
.textoEnImagen{
    font-size: 1.7em;
    text-align: center;
    padding-left: 0px;
}
#EsloganTexto{
    font-size: .8em;
    padding-left: 0em;
    padding: .5em;
    padding-top: 1em; 
}
    /* Controlar tamanio del logo en celular */
#Logotipo{
    width: 70%;
}
#LogotipoA{
    width: 70%;
}
}